__pycache__/
*.aux
*.log
*.bbl
*.blg
*.out
*.toc
*.pdf
!figures/*.pdf
!code/results/*.pdf
*.pt
!code/*.pt
!crescendo/*.pt
!code/results/*.pt
*.json
!code/*.json
!crescendo/*.json
!code/results/*.json
.ipynb_checkpoints/
